{% extends "_layouts/base.html" %}

{% load common %}

{% block page_title %}List of users{% endblock %}

{% block content %}

    <a href="{% url 'export_to_xls' %}" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Save list as XML</a>

    <table class="table">
        <thead>
        <tr>
            <th>Username</th>
            <th>Birthday</th>
            <th>Eligible</th>
            <th>Random Number</th>
            <th>BizzFuzz</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            {% for user in object_list %}
            <tr>
                <td><a href="{% url 'user_show' pk=user.pk %}">{{ user.username }}</a></td>
                <td>{{ user.birthday|date:'d/m/Y' }}</td>
                <td>{{ user.check_eligible }}</td>
                <td>{{ user.rand_number }}</td>
                <td>{{ user.check_bizzfuzz }}</td>
                <td>
                    <a href="{% url 'user_update' pk=user.pk %}" title="Update {{ user.username }}"><span class="glyphicon glyphicon-edit"></span></a>&nbsp;
                    <a href="#" title="Delete {{ user.username }}"
                       onclick="delete_confirm('js-form-{{ user.pk }}');"><span class="glyphicon glyphicon-remove-circle"></span></a>
                    <form id="js-form-{{ user.pk }}" action="{% url 'user_delete' pk=user.pk %}" method="post">{% csrf_token %}</form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}
