{% extends "_layouts/base.html" %}

{% load crispy_forms_tags %}

{% block page_title %}Create User{% endblock %}

{% block content %}

<form action="" class="form-horizontal" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Create User</button>
</form>

{% endblock content %}
