{% extends "_layouts/base.html" %}

{% load common %}
{% load crispy_forms_tags %}

{% block page_title %}Show User "{{ object.username }}"{% endblock %}

{% block content %}

<p>Username: {{ object.username }}</p>
<p>Birthday: {{ object.birthday|date:'d/m/Y' }}</p>
<p>Eligible: {% check_eligible object.birthday %}</p>
<p>Random number: {{ object.rand_number }}</p>
<p>BizzFuzz: {% check_bizzfuzz object.rand_number %}</p>

{% endblock content %}
